* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}
header {
    background-color: #000000;
    padding: 20px;
}

#menu-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#menu-button img {
    width: 30px;
    height: 30px;
}

.dropdown {
    display: none;
    background-color: #000000;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: azure;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.image-container {
    width: 70%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.photo-container {
    background-color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 12px;
    width: calc(33.333% - 20px);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: azure;
}

.photo-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}


#link-foto {
    position: absolute;
    top: 10px; /* Ajusta según lo necesites */
    left: 10px; /* Ajusta según lo necesites */
    z-index: 1000;
}

#foto-pequeña {
    width: 50px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    border-radius: 50%; /* Esto hace que la imagen sea circular */
}